.frontal-section {
    background-image: url('../images/main-pic.jpg');
    height:76vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position:center;
    padding:10em 0 0 5em;
    border-bottom:1.5rem solid $secondary-color;
}

.logo {
    width:17rem;
}